.gender {
    @include backgroundBlocks;
    @include grid;

    position: relative;

    grid-column: 1 / 3;
    grid-template-columns: 35vw 4vw 4vw;
    align-items: end;

    color: $color-text;

    background-image: url(../../images/gender/diagram.png);
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        @include componentTitle ($color-text, $title-fz, $title-weight );
    }

    &__text {
        @include text (1em, 600);
    }

    &__text--men::before {
        @include square (#e786d7 );
        left: calc(100% - 9.5em);
    } 
    &__text--women::before {
        @include square (#7f7fd5 );
        left: calc(100% - 19em);
    }
    
}